* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: #e4e6eb;
    --href-color: #4599ff;
    --color-text: #b0b3b8;
    --primary-hover: rgba(255, 255, 255, 0.2);
    --border-color: #2f3031;
}

input,
button {
    outline: none;
    border: none;
}

body {
    height: 0;
}

html {
    user-select: none;
    font-size: 62.5%;

    scrollbar-color: red yellow;
}

a {
    text-decoration: none;
}
